html,body{
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}
// MOVIES
@import 'vars';
@import 'menu';
@import 'mobileMenu';
@import 'pagination';
@import 'movie-card';
@import 'popular-card';
@import 'iframe';

@import 'filter/filter';
@import 'filter/filter-mobile';

@import 'index/nowPlaying/sm';
@import 'index/popular/sm';
@import 'index/topRated/sm';
@import 'index/upcoming/sm';

// TV

@import 'tv/show';