.filter{
    max-width: 224px;
    input{
        max-width: 190px;  
    }
    .countries_list{
        display: inline;
        li{ 
            display: inline;
            form{
                display: inline;
            }
        }
    }
}


/* Large (lg) */
@media (max-width: 1024px) { 
    .left_sidebar{
        display: none;
    }
}