.filter{
    max-width: 224px;
    input{
        max-width: 190px;  
    }
    .movie_list{
        li:hover{
            button{
                display: block;
                width: 100%;
                color: $orange;
                font-size: 1rem;
                font-weight: bold;
                background-color: $main_blue;
            }
           
        }
       
    }
    .countries_list{
        display: inline;
        li{ 
            display: inline;
            form{
                display: inline;
            }
        }
    }
}

.filter_trigger{
    display: none;
}

.active{
    display: block;
    width: 100%;
    color: $orange;
    font-size: 1rem;
    font-weight: bold;
    background-color: $main_blue;
}


/* Large (lg) */
@media (max-width: 1024px) { 
    .left_sidebar{
        display: none;
    }

    .filter_trigger{
        display: flex;
    }
}