body {
  font-family: "Roboto", sans-serif;
}

.main_menu_md {
  display: none;
}

/* Large (lg) */

@media (max-width: 1024px) {
  .header_wrapper {
    justify-content: space-between;
  }

  .header_wrapper .main_menu {
    display: none;
  }

  .main_menu_md {
    display: block;
  }

  .main_menu_md ul {
    justify-content: center;
  }
}

/* Extra Large (xl) */

nav .pagination {
  display: flex;
}

nav .pagination li {
  width: 10px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: #ed8936;
}

nav .pagination li a {
  color: #000;
}

.filter input {
  max-width: 190px;
}

