body {
  font-family: "Roboto", sans-serif;
}

.main_menu_md {
  display: none;
}

.main_menu ul .main_menu_item:hover a,
.main_menu ul .main_menu_item:hover i {
  color: #ed8936;
}

.main_menu ul .main_menu_item:hover .sub_menu {
  display: block;
  position: absolute;
  z-index: 999;
  background-color: #fff;
  padding: 20px;
}

.main_menu ul .main_menu_item:hover .sub_menu li a {
  color: #000;
}

.main_menu ul .main_menu_item a {
  display: flex;
  color: #e2e8f0;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.main_menu ul .main_menu_item a i {
  font-size: 12px;
  color: #e2e8f0;
  margin-left: 8px;
}

.main_menu ul .main_menu_item .sub_menu {
  display: none;
}

@media (max-width: 640px) {
  .movie_page_style {
    display: none;
  }
}

@media (max-width: 768px) {
  header .main_menu_md {
    padding-top: 0;
  }

  header .main_menu_md ul {
    display: block;
    padding: 0;
  }

  header .main_menu_md ul li {
    display: block;
    text-align: center;
    padding-right: 0;
  }

  header .main_menu_md ul li a {
    font-size: 1.25rem;
  }

  header .main_menu_md ul li a i {
    font-size: 12px;
  }

  header .header_wrapper {
    display: block;
  }

  header .header_wrapper .logo {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  header .header_wrapper .logo a {
    display: block;
  }

  header .header_wrapper .logo a svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  header .header_wrapper .authetication {
    justify-content: center;
    align-items: center;
  }

  header .header_wrapper .authetication .main_search {
    display: flex;
  }

  header .header_wrapper .authetication .main_search input {
    display: flex;
    background-color: #2d3748;
  }
}

/* Large (lg) */

/* Extra Large (xl) */

@media (max-width: 1280px) {
  .header_wrapper {
    justify-content: space-between;
  }

  .header_wrapper .main_menu {
    display: none;
  }

  .main_menu_md {
    display: block;
    width: 100%;
  }

  .main_menu_md ul {
    justify-content: center;
  }

  .popular_movies {
    width: 100%;
  }
}

.movie_page_pagination nav .pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie_page_pagination nav .pagination li {
  margin-bottom: 1rem;
}

.movie_page_pagination nav .pagination .page-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 5px;
  text-align: center;
  vertical-align: auto;
  background-color: #2D3748;
}

.movie_page_pagination nav .pagination .page-item.active {
  background-color: #ED8936;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
}

.movie_page_pagination nav .pagination .page-item.disabled {
  background-color: #2D3748;
  text-align: center;
  color: #ED8936;
  font-size: 24px;
  padding: 10px;
}

.movie_page_pagination nav .pagination .page-item a {
  text-align: center;
  color: #ED8936;
  font-size: 24px;
  padding: 10px;
}

.filter {
  max-width: 224px;
}

.filter input {
  max-width: 190px;
}

.filter .countries_list {
  display: inline;
}

.filter .countries_list li {
  display: inline;
}

.filter .countries_list li form {
  display: inline;
}

.filter_trigger {
  display: none;
}

/* Large (lg) */

@media (max-width: 1024px) {
  .left_sidebar {
    display: none;
  }

  .filter_trigger {
    display: flex;
  }
}

.movie_item .movie_item_overlay {
  display: none;
}

.movie_item:hover .movie_item_overlay {
  display: block;
  overflow: hidden;
  background-color: rgba(26, 32, 44, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.movie_item:hover .movie_item_overlay span {
  display: flex;
  color: #fff;
  font-size: 14px;
  padding-bottom: 2px;
  margin-left: 2px;
}

.movie_item:hover .movie_item_overlay span .inner {
  display: inline;
  color: #ed8936;
  margin-right: 10px;
  font-size: 14px;
}

.movie_item:hover .movie_item_overlay .genre {
  font-size: 12px;
}

.movie_item:hover .movie_item_overlay .title {
  font-weight: 500;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.movie_item:hover .movie_item_overlay .orig_title {
  font-size: 12px;
}

.movie_item:hover .movie_item_overlay .watch {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}

.movie_item:hover .movie_item_overlay .watch span {
  padding: 5px 15px;
  background-color: #2d3748;
  font-size: 1rem;
  border-radius: 25px;
  font-weight: bold;
}

.movie_item:hover .movie_item_overlay .watch span:hover {
  background-color: #ed8936;
}

.videocdn {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
}

.videocdn iframe,
.videocdn .myvideo object,
.videocdn .myvideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube {
  position: relative;
  padding: 0 0 56.25% 0;
  height: 0;
  overflow: hidden;
}

.youtube iframe,
.youtube .myvideo object,
.youtube .myvideo embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filter_mobile {
  max-width: 224px;
}

.filter_mobile input {
  max-width: 190px;
}

.filter_mobile .countries_list {
  display: inline;
}

.filter_mobile .countries_list li {
  display: inline;
}

.filter_mobile .countries_list li form {
  display: inline;
}

.left_sidebar_mobile {
  display: none;
}

.mobile_sidebar_close_button {
  display: none;
}

/* Large (lg) */

@media (max-width: 1024px) {
  .left_sidebar_mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .mobile_sidebar_close_button {
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 9999;
  }
}

